* Pandas is used for working with data sets.
* for Analyzing, cleaning, exploring and manipulating data
* it allows user to analyse big data and make conclusions based on statistical theories.
* can clean messy datasets, make them readable and relevant.
* can help sort relevant data

In [6]:
import pandas as pd

In [7]:
mydataset = {
    'cars': ["BMW", "Volvo", "Ford"],
    'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

##### Series

Pandas Series is like a column in a Table.
it is a one-dimentional array holding data of any type.

In [8]:
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

##### Labels

In [12]:
myvar = pd.Series(a, index = ["Me", "Years of Education", "Me+Successful, Handsome, Loyal, Rich Husband"])
print(myvar)

Me                                              1
Years of Education                              7
Me+Successful, Handsome, Loyal, Rich Husband    2
dtype: int64

In [13]:
print(myvar["Years of Education"])

7

##### Key/Value Objects as Series

In [18]:
contri= {"W1":[18],
        "W2": [18]}
myvar = pd.Series(contri)
print(myvar)

W1    [18]
W2    [18]
dtype: object

Keys of the Dictionary become the Labels.

### DataFrames

* Data sets in Pandas are usually multi-dimentional tables aka DataFrames.
* Series : Column; DataFrame: whole table
* DF is 2D data structure, like a 2D array or a table with rows and columns.

In [19]:
df = pd.DataFrame(contri)
print(df)

   W1  W2
0  18  18

###### Named Index

In [41]:
dfi = pd.DataFrame(contri, index = ["#Hours"])
print(dfi)

        W1  W2
#Hours  18  18

### Reading CSVs

In [ ]:
df = pd.read_csv('data.csv')
print(df.to_string()) # to print entire dataframe

### Viewing the Data

In [24]:
print(df.head(1)) #returns first 1 row

   W1  W2
0  18  18

In [25]:
print(df.tail(1)) # returns last 1 row

   W1  W2
0  18  18

## Cleaning Data

removing NA data

In [26]:
new_df = df.dropna() #dropna returns new DF and will not change the original
print(new_df.to_string())

   W1  W2
0  18  18

to change the original Dataframe , use inplace = True

In [27]:
df.dropna(inplace = True)
print(df.to_string())

   W1  W2
0  18  18

#### Replace Empty Values

In [28]:
df.fillna(0.1, inplace = True)

###### Replace only for a specified Columns

* The example above replaces all empty cells in the whole Data Frame

In [29]:
df["W1"].fillna(12, inplace = True)

#### Removing Duplicates

In [30]:
df.drop_duplicates(inplace = True)

### Data Correlations

In [31]:
print(new_df.corr())

    W1  W2
W1 NaN NaN
W2 NaN NaN